.box {
  &-title {
    display: flex;
    justify-content: space-between;
  }
  &-list {
    :global(.ant-card) {
      height: 100%;
    }
    :global(.time-list) {
      li {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        cursor: pointer;
      }
    }
    :global(.device-list) {
      li {
        display: inline-block;
        height: 36px;
        padding: 0 8px;
        border-radius: 5px;
        margin: 0 10px 5px 0;
        line-height: 36px;
        text-align: center;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  &-desc {
  }
}
