:global .dataset-modal {
  .ant-radio-group {
    display: block;
    .radio-item,
    .ant-radio-wrapper {
      width: 100%;
    }
  }
  .radio-item {
    &-list {
      display: flex;
      justify-content: space-around;
    }
  }
}
:global(.dataset-modal-footer) {
  text-align: right;
}
