@orange: #ff832c;
@green: #00b677;
@primary: #40a9ff;
@purple: #7861e7;
@gray: #858796;
@red: #ff4d4f;

// 设置文字颜色
.font {
  &-orange {
    color: @orange !important;
  }
  &-green {
    color: @green !important;
  }
  &-primary {
    color: @primary !important;
  }
  &-purple {
    color: @purple !important;
  }
  &-gray {
    color: @gray !important;
  }
  &-red {
    color: @red !important;
  }
}

// 设置背景颜色
.bg {
  &-orange {
    background-color: @orange !important;
  }
  &-green {
    background-color: @green !important;
  }
  &-primary {
    background-color: @primary !important;
  }
  &-purple {
    background-color: @purple !important;
  }
  &-gray {
    background-color: @gray !important;
  }
  &-red {
    background-color: @red !important;
  }
}
// 按钮
.btn {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: #fff;
  border-color: #d9d9d9;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  &:hover {
    color: #fff;
  }
}
.btn {
  &-orange {
    .btn();
    background-color: @orange;
    border-color: @orange;
  }
  &-primary {
    .btn();
    background-color: @primary;
    border-color: @primary;
  }
  &-purple {
    .btn();
    background-color: @purple;
    border-color: @purple;
  }
  &-green {
    .btn();
    background-color: @green;
    border-color: @green;
  }
  &-gray {
    .btn();
    background-color: @gray;
    border-color: @gray;
  }
  &-red {
    .btn();
    background-color: @red;
    border-color: @red;
  }
}
// 公共的间隙
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.mr10 {
  margin-right: 10px;
}
.ml10 {
  margin-left: 10px;
}
.full-absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}
