@import '~antd/es/style/themes/default.less';
@import './base.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

.ant-tooltip-inner {
  width: 600px;
  background-color: rgb(199, 237, 204);
  color: #000;
  font-size: 18px;
  line-height: 30px;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}

// 覆盖默认antd样式
.ant-pro-sider-menu-logo h1.title-logo {
  font-size: 40px;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
}
